<html>
    <head>
        <title>dashboard</title>
        <link rel="stylesheet" href="dashboard.css">
        <style>
            .main{
                display: flex;

            }
        </style>

    </head>

    <body>
        <div class="nav"></div>
    
 <div class="main">   
<div class="div2">Spot
   
</div>
<div class="div3" ></div>
<div class="div4">place</div>
<div class="div5">package</div>
<div class="div6">travel agent</div><br>

<div class="div7">restaurents</div>
<div class="div8">users</div>
<div class="div9">rooms</div>

</div>
</body>
</html>