<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add festivels</title>
    <link rel="stylesheet" href="festivel .css">
</head>
<body>
    <div class="festivel">
        <div class="div3">
    <label>festiveName</label>
    <input type="text">
    <br><br>
    <label>PlaceName</label>
    <input type="text">
    <br><br>
    <label>Description</label>
    <input type="text">
    <br><br>
    <label>Image</label>
    <input type="file">

</div>

    <br><br> 
    <button class="submit">submit</button>
</div>
</body>
</html>