<html>
    <body>
        <table border="2">
            <tr>
            
            <th>Name</th>
            <th>Address</th>
            <th>Mail</th>
            <th>Phone</th>
            <th>ID Proof</th>
            <th>License No</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="">Accept</a><br>
                    <a href="">Reject</a>
                </td>
            </tr>
        </table>
    </body>
</html>