<html>
<head>
<title>view spot</title>
<link rel="stylesheet" href="view festivel.css">
</head>
<body>
    <div class="main">
        <button class="submit">Add </button>  
        <table border="0">
            
            <tr>
                <td></td>
                
             </tr> 
             <tr>
                <td>onam</td>
             </tr>
             
             <tr>
                <td>place</td>
                <td class="td1"><a href="" class="edit">edit</a></td>
             </tr> 
             <tr>
                <td>date</td>
                
             </tr> 
             <tr>
                <td>location</td>
                <td class="td2"><a href="" class="delete">delete</a></td>
                
             </tr>
            
             <tr>
                <td>description</td>
                
                
             </tr>
        
        </table>
        </div>

</body>



