<html>
<head>
<title>view spot</title>
<link rel="stylesheet" href="viewspot.css">
</head>
<body>
 <div class="main">
<a href="/addspot"<button class="submit">Add </button></a>  
<table border="2">
    <tr>
    
    <th>Spot</th>
    <th>Place</th>
    <th>Date</th>
    <th>Location</th>
    <th>Discription</th>

    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><a href="">Edit</a><br>
            <a href="">Delete</a>
        </td>
    </tr>
</table>
</div>
    
</body>
</html>