<html>
<head>
<title>view spot</title>
<link rel="stylesheet" href="view festivel.css">
</head>
<body>
    <div class="main">
        <button class="submit">Add </button>  
        <table border="2">
         <tr>
         
         <th>Festival Name</th>
         <th>Place</th>
         <th>Date</th>
         <th>Location</th>
         <th>Discription</th>
     
         </tr>
         <tr>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td><a href="">Edit</a><br>
                 <a href="">Delete</a>
             </td>
         </tr>
     </table>
        </div>

</body>



