<html>
<head>
<title>view spot</title>
<link rel="stylesheet" href="viewspot.css">
</head>
<body>
 <div class="main">
<button class="submit">Add </button>  
<table border="0">
    <tr>
        <th>SPOT</th>
        </tr>
    <tr>
        <th><img src="C:\Users\USER\Desktop\MAGAZINE\images\img.jpg" width="200" height="150"></th>
        </tr>
   
    <tr>
    <th>Place</th>
    </tr>
    <tr>
    <th>Discription</th>
    </tr>
    <tr>
        <td>
       
        <td class="td1"><a href="" class="edit">edit</a></td>
        <td class="td2"><a href="" class="delete">delete</a></td>
     </tr> 
     

</table>
</div>
    
</body>
</html>