<html>
<head>
<title>view place</title>
<link rel="stylesheet" href="view place.css">
</head>
<body>
<div class="main">
<a href="/addplace"><button class="submit">Add </button>  </a>
<table border="2">
    <tr>
    <th>Id</th>
    <th>palce name</th>
    <th>Details</th>
    </tr>
    <tr>
        <td>2</td>
        <td>calicut</td>
        <td>Details</td>
        <td class="td1"><a href="" class="edit">edit</a></td>
        <td class="td2"><a href="" class="delete">delete</a></td>
     </tr> 
     

</table>
</div>
    
</body>
</html>